<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/header.ejs') %> 
<body>
    <h2>Phone Number is <%= message["PhoneNumber"] %> </h2>
    <h3>Name is <%= message["Name"] %></h3>
    <h3>AadharNumber is <%= message["AadharNumber"] %></h3>
    <h3>Status of the customer <%= message["Status"] %></h3>
    <h3>Money present is <%= message["Money"] %></h3>
</body>
</html>

