<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %> 
<body>
    <a href="/admin/<%= username %>/GetCustomerByPhoneNumber/<%= number %>/info"> Info</a><br>
    <a href="/admin/<%= username %>/GetCustomerByPhoneNumber/<%= number %>/services"> Services</a><br>
    <a href="/admin/<%= username %>/GetCustomerByPhoneNumber/<%= number %>/transactions">Payments</a><br>
</body>
</html>