<!DOCTYPE html>
<html>
  <%- include('./partials/header.ejs') %> 
<body>
  <ul>
    <li id="zero"><a href="<%= number%>/details">Details</a></li>
    <li id="two"><a href="<%= number%>/services">Services Offered</a></li>
    <!-- <li id="three"><a href="<%= number%>/currentplan">Current Plan</a></li> -->
    <li id="four"><a href="<%= number%>/transactions">All Transactions</a></li>
    <li id="five"><a href="<%= number%>/addMoney">Add Money</a></li>
    <li id="six"><a href="<%= number%>/sendMoney">Send Money</a></li>
  </ul>
</body>
</html>